# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.cli.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Workspaces\MasterThesis\cli\.idea\.idea.cli\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
